# Idea project files
*.iml
.idea/

# Gradle files
out/
build/
.gradle/
.kotlin/

# Generated sources
src/generated

# OS specific
.DS_Store

# Genererte dokumenter, men ADR-er sjekkes inn
docs/*
!docs/adr/

# Lokale arbeidsnotater (ikke sjekkes inn)
.local-notes/
